/* Css Variables */
/* عشان عملها في الفيديو */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8)
}


/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    background: #ccc;
    margin: auto;
    padding: 30px 50px;
    line-height: 1.4
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: .6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%
}

.wrapper { /* Father Of All Elemntes */
    display: grid;
    grid-gap: 20px;
}
/* End Global Rules */


/*/////////////////////////////////////////////////////*/


/* Start Navbar*/
.main-nav ul {
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0
}

.main-nav ul a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--dark);
    transition: all .8s ease-in-out
}

.main-nav ul a:hover {
    background: var(--dark);
    color: var(--light)
}
/* End Navbar */


/*/////////////////////////////////////////////////////*/


/* Start Top Container */
.top-container {
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
        "header box-a"
        "header box-b";    
}



/* Showcase */
.showcase {
	grid-area: header;
    min-height: 400px;
    background-image: url(../images/pic2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.showcase h1 {
    font-size: 3.5rem;
    margin: 0;
    color: var(--light)
}

.showcase p {
    font-size: 1.5rem;
    margin-top: 5px;
    color: var(--light)
}



/* top-box */
.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1.5rem
}

.top-box-a {
	grid-area: box-a
}

.top-box-b {
	grid-area: box-b
}

.top-box h4{
    margin-bottom: 0
}

.top-box .price {
	font-size: 2.5rem
}
/* End Top Container */


/*/////////////////////////////////////////////////////*/


/* Start Boxes */
.boxes {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}

.boxes .box {
    text-align: center;
    padding: 1.5rem 2rem;
}
/* End Boxes */


/*/////////////////////////////////////////////////////*/


/* Start Info */
.info {
	display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

.info h2 {margin: 0}
/* End Info */


/*/////////////////////////////////////////////////////*/


/* Start portfolio */
.portfolio {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
/* End portfolio */


/*/////////////////////////////////////////////////////*/


/* Start Footer */
footer {
    margin-top: 1rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 0.5rem;
}

footer a {
    text-decoration: none;
    color: #53caa3
}
/* End Footer */


/*/////////////////////////////////////////////////////*/


/* Start Grouping Style */
.main-nav ul,
.top-container,
.boxes,
.portfolio {display: grid; grid-gap: 20px}


.main-nav ul a,
.showcase,
.top-box,
.boxes .box,
.info,
.portfolio img {box-shadow: var(--shadow)}


.main-nav ul a,
.top-box,
.boxes .box,
.info {background: var(--primary)}
/* End Grouping Style */


/*/////////////////////////////////////////////////////*/

/* Media Queries */

/* Start Extra Small Screen */
@media (max-width: 500px) {
    
    
    /* Navbar */
    .main-nav ul {grid-template-columns: 1fr;}
    
    .main-nav ul a {
        font-size: 0.95rem;
        font-weight: 600;
    }
    
    
    
    /* Top Conatiner */
    .top-container {
        
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "box-a" 
            "box-b";    
    }
    
    .showcase {
        padding: 5px 10px;
        box-shadow: none;
        text-align: center
    }
    
    .showcase h1{
	    font-size: 1.8rem;
        margin-bottom: 20px
    }
    
    .showcase p{
	    font-size: 1.1rem;
        margin-bottom: 40px
    }
    
    .showcase .btn{
	    font-size: 1.1rem;
        margin: 20px auto
    }
    
    
    
    /* Top Box */
    .top-box .price {
        font-size: 2rem
    }
    

    
    .top-box .btn {
        font-size: 0.9rem
    }
    
    
    
    /* Info */
    .info {
        grid-template-columns: 1fr;
        text-align: center
    }
    
    .info img {
        display: none
    }
    
    /* Portfolio */
    .portfolio img {
        width: 100%
    }
}
/* End Extra Small Screen */



/* Start Small Screen */
@media (min-width: 501px) and (max-width: 700px){
    
    
    /* Navbar */
    .main-nav ul {grid-template-columns: 1fr;}
    
    .main-nav ul a {
        font-size: 0.95rem;
        font-weight: 600;
    }
    
    
    
    /* Top Conatiner */
    .top-container {
        
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "box-a box-b";    
    }
    
    .showcase {
        padding: 5px 10px;
        align-items: center;
        text-align: center
    }
    
    .showcase h1{
	    font-size: 2.1rem;
        margin-bottom: 20px
    }
    
    .showcase p{
	    font-size: 1.1rem;
        margin-bottom: 40px
    }
    
    .showcase .btn{
	    font-size: 1.1rem;
        margin: 20px auto
    }
    
    
    
    /* Top Box */
    .top-box .price {
        font-size: 2rem
    }
    
    .top-box .btn {
        font-size: 0.9rem
    }
    
    
    
    /* Info */
    .info {
        grid-template-columns: 1fr;
    }
    
    .info img {
        display: none
    }
    
    .info .btn{
        display: block;
        text-align: center;
    }
    
    
    
    /* Portfolio */
    .portfolio img {
        width: 100%
    }
}



/* Start Meduim Screen */
@media (min-width: 701px) and (max-width: 900px){
    
    
    /* Top Conatiner */
    .top-container {
        
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "box-a box-b";    
    }
    
    .showcase {
        padding: 5px 10px;
        align-items: center;
        text-align: center
    }
    
    .showcase h1{
	    font-size: 2.4rem;
        margin-bottom: 20px
    }
    
    .showcase p{
	    font-size: 1.2rem;
    }
    
    .showcase .btn{
	    font-size: 1.2rem;
        margin: 20px auto
    }
    
    
    
    /* Top Box */
    .top-box .price {
        font-size: 2.6rem
    }
    
    .top-box .btn {
        font-size: 1.2rem
    }
    
    
    
    /* Info */
    .info {
        grid-template-columns: 1fr;
    }
    
    .info .btn{
        display: block;
        text-align: center;
    }
    
    
    
    /* Portfolio */
    .portfolio img {
        width: 100%
    }
}
















